# python -m virtualenv ./py2.7-std
# source ./py2.7-std/bin/activate
# pip install -r <requirements.txt>
appdirs
# sudo apt-get install libffi-dev
cryptography>=1.3.4
ndg-httpsclient
packaging
pyasn1
