########## Tools
bpython >= 0.16
pip >= 9

########## Google infra
glog
grpc
grpcio-tools
protobuf >= 3.3

########## DB
pymongo >= 3.4

########## Web
flask
gevent
gunicorn

########## System
setproctitle
termcolor
