########## Tools
bpython

########## System
setproctitle  # Then gunicorn can set proc name

########## Google infra
gflag
glog
grpcio-tools  # protobuf and grpcio included, grpc is also included for py3.6

########## DB
pymongo >= 3.4

########## Web
flask
gevent
gunicorn
