########## Tools
bpython >= 0.16
pep8
pip >= 9
pylint

########## Google infra
glog
grpcio
grpcio-tools
protobuf >= 3.3
tensorflow-gpu

########## DB
# pymongo >= 3.4

########## Web
flask
gevent
gunicorn

########## System
setproctitle
termcolor

########## Deep learning
keras
